// placing our default colors

$color-primary:#7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark:#28b485;
$color-gray-dark:#777;
// additional colors
$color-black:#777;
$color-grey-light-1:#f7f7f7;

// GRID
$grid-width:114rem;
$gutter-vertical: 8rem;
// space btn the different columns
$gutter-horizontal: 6rem;