// placing our default colors

$color-primary:#7ed56f;
$color-primary-light: #55c57a;
$color-primary-dark:#28b485;
$color-gray-dark:#777;

$color-secondary-light:#ffb900;
$color-secondary-dark:#ff7730;

$color-tetiary-light:#2998ff;
$color-tetiary-dark:#5643fa;

// additional colors
$color-black:#000;
$color-grey-light-1:#f7f7f7;
$color-grey-light-2:#eee;
$color-white:#fff;

// GRID
$grid-width:75rem;
$gutter-vertical: 8rem;
// space btn the different columns
$gutter-horizontal: 4rem;


// FONT SIZE
$default-font-size:1.6rem;