.feature-box {
    
    background-color: rgba($color-grey-light-1, .8);
    font-size: 1.5rem;
    padding: 2.5rem;
    text-align: center;
    border-radius: .3rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    // to perform transition
    transition: all .3s; 

    // styling the icon
    &__icon {
        font-size: 3rem;
        margin-bottom: .5rem;
        display: inline-block;
        background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
        -webkit-background-clip: text;
        color:transparent;
    }
    // perfroming the hover effect
    &:hover {
        transform: scale(1.05) translateY(-.5rem);
    }
    // styling the text
    &__text {

    }
}